@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Meysha";
  src: url("/fonts/meysha.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "TT Jenevers";
  src: url("/fonts/ttjenevers.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("/fonts/almarai.woff") format("woff");
  font-display: swap;
}

.splide__spinner {
  display: none !important;
}

.gradient-loader {
  background: linear-gradient(to right, #3b82f6, #a855f7, #ec4899);
  background-size: 200% 100%;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  animation: gradient-shimmer 2s infinite;
}

@keyframes gradient-shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
